@media (max-width: 1200px) {
	.item-slider__nav {
		display: block;
	}
	.item-slider__num {
		margin-top: 15px;
	}
}
//========================================================================================
@media (max-width: 768px) {
	body {
		&.lock {
			overflow: hidden;
		}
	}
	.header-top__menu {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: -250%;
		background-color: rgba($blueColor, 0.8);
		transition: all 0.5s ease 0s;
		overflow: auto;
		&.active {
			top: 80px;
		}
	}
	.header-top__logo {
		order: 1;
		margin: 0;
		margin-right: 10px;
	}
	.header__burger {
		order: 3;
		display: block;
		position: relative;
		z-index: 2;
		width: 30px;
		height: 20px;
		span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			border-radius: 1px;
		}
		&::before,
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			border-radius: 1px;
			transition: all 0.5s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
	.header-top__btn {
		order: 2;
		margin-left: auto;
		margin-right: 40px;
		@include adaptiv-value("margin-right", 40, 10, 0);
	}
	.menu {
		&__list {
			display: block;
			text-align: center;
		}
		&__list-item {
			& + .menu__list-item {
				margin: 0;
			}
		}
		&__list-link {
			padding: 20px 0;
		}
	}
	.menu--register {
		margin: 0;
		&.active {
			top: 245px;
		}
	}
	.header-content__form {
		display: block;
	}
	.header-content__input {
		margin-bottom: 20px;
		width: 80%;
	}
	.header-content__button {
		padding: 15px 30px;
		display: block;
		width: 30%;
	}
	.slider .slick-current.slick-active {
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
		border-top: 4px solid $orangeColor;
		transform: scale(1);
	}
}
//========================================================================================
@media (max-width: 640px) {
	.header-content__input {
		width: 100%;
	}
	.header-content__button {
		width: 50%;
	}
	.places__inner {
		grid-template-columns: repeat(3, 1fr);
	}
	.places__item {
		&:nth-child(3) {
			grid-column: span 1;
			grid-row: span 2;
		}
		&:nth-child(4) {
			grid-column: span 1;
			grid-row: span 2;
		}
		&:nth-child(6) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
	.slider {
		.slick-arrow {
			top: -30px;
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			left: 100px;
		}
	}
	.item-slider__btn {
		width: 70%;
		padding: 10px;
	}
	.review__inner{
		display: block;
	}
	.review__box{
		margin-bottom: 20px;
	}
	.review__btn {
		flex: 0 1 60%;
		width: 100%;
		padding: 10px;
	}
	.review__img{
		width: 100%;
	}
}
//========================================================================================
@media (max-width: 540px) {
	.places__inner {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: none;
	}
	.places__item {
		grid-column: span 1;
		grid-row: span 1;
		max-height: 250px;

		&:nth-child(3) {
			grid-column: span 1;
			grid-row: span 1;
		}
		&:nth-child(4) {
			grid-column: span 1;
			grid-row: span 1;
		}
		&:nth-child(6) {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
	.item-slider__btn {
		width: 100%;
	}
}
//========================================================================================
@media (max-width: 480px) {
	.places__inner {
		grid-template-columns: repeat(1, 1fr);
	}
}
//========================================================================================
@media (max-width: 375px) {
	.header-content__button {
		width: 100%;
	}
	.header-content__tab-btn {
		display: block;
		& + .header-content__tab-btn {
			margin-left: 0;
		}
	}
	.rental__link {
		display: block;
		padding: 15px 0;
	}
}
